# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\enseignement\2020-2021\semestre2\Intergiciels_Services\SIW\Chapitres\Ch3\labs\TP3\Exemple_Client-Side_SelfRegistration_NetfflixOSS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
